header img {
    border-radius: 10px;
    width:300px;
    border-style: double;
    border-color: white;
   
}
header {
    display: flex;
    gap: 20px;
    font-size: 30px;
    -webkit-text-stroke: 1.5px;
    margin-top: 20px;
    flex-wrap: wrap;
}
main h2 {
    font-size: 40px;
}
main ul {
    font-size: 35px;
}
.all {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 60vw;
    border-radius: 20px;
    border-style: groove;
    background-image: url(batman-01-logo-png-transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    background-attachment: fixed;
}
main {
    align-self: center;
    width: 500px;
}
body {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(58, 58, 48);
}
main p {
    font-size: 20px;
    -webkit-text-stroke: 0.5px;
}

.hah {
    font-size: 30px;
}
button {
    width: 250px;
    height: 90px;
    border-radius: 10px;
    margin-bottom:10px;
    transition: 2s;
    clip-path: polygon(
        50% 25%, 53% 13%, 57% 25%, 67% 23%, 78% 13%, 82% 23%, 94% 15%, 100% 35%, 
    93% 53%, 82% 63%, 68% 70%, 55% 75%, 50% 93%, 45% 75%, 32% 70%, 18% 63%, 
    7% 53%, 0% 35%, 6% 15%, 18% 23%, 22% 13%, 33% 23%, 43% 25%, 47% 13%
    ) ;
}
button:hover {
    transform: scale(1.1);
}